:root {
  --primary-color: #0D7BC5 !important;
  --primary-dark-color: #003c71 !important;
  --primary-light-color: #f0f4ff !important;
  --primary-text-color: #003c71 !important;
  --primary-hover-color: #003c71  !important;
}

.dark {
  --primary-color: #4EA8DE !important;
  --primary-dark-color: #002855 !important;
  --primary-light-color: #1E2A40 !important;
  --primary-text-color: #A5D8FF !important;
  --primary-hover-color: #82CAF0 !important;
}